body {
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
  }
.cardContainer {
  border: 1px solid #f00606;
  display: inline-block;
  display: flex;
  padding: 15 px;
  margin: 4 px;
}
.individualCard{
  border: 3px solid #42f207;
  padding: 10px;
  margin: 20px;
  background-color: blue;
/* only the border seems to be working? */
}